body {
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* CSS to show the dropdown on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown:hover .dropdown-toggle::after {
    transform: rotate(90deg);
}
.navbarlogo{
    width: 160px;
    height: 45px;
}
.homepagehead1{
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    color: #ff0000;

}
.homepagehead2{
    font-family: "roboto";
    font-size: 40px;
    font-weight: bold;
    color:rgb(0, 0, 0);
}
.homepagepara1{
    font-family: "roboto";
    font-size: 18px;
    color:black;
}