body {
    overflow-x: hidden; /* Prevent horizontal scroll */
}

/* CSS to show the dropdown on hover */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav .dropdown:hover .dropdown-toggle::after {
    transform: rotate(90deg);
}

.navdrop-container{
    background-color: #ffffff;
    
}

.navdrop-container-text{
    color:rgb(0, 0, 0);
    &:hover {
        color: #000000;
    }
}

.navbarbackground{
    background-color: #ffffff;
}

.navbar-textcolors{
    color:rgb(0, 0, 0);
    &:hover {
        color: #000000;
    }
}

.navbarlogo{
    width: 160px;
    height: 45px;
}

.homepagehead1{
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.homepagehead2{
    font-family: "roboto";
    font-size: 40px;
    font-weight: bold;
    color:rgb(0, 0, 0);
}

.homepagepara1{
    font-family: "roboto";
    font-size: 18px;
    color:black;
}
.trending_job_container{
    background-color: rgb(193, 243, 236);
}
.trending_job_mainhead{
    font-family: "roboto";
    font-size: 38px;
    font-weight: bold;
    color:rgb(0, 0, 0);

}
.trending_job1{
    border-style:solid;
    border-width: 1.5px;
    padding: 30px;
    border-radius: 10px;
}
.trending_job1:hover{
    background-color:#4CAF50;
    transform:scale(1.05);
    transition: 0.3s ease-in-out;
    border-color:#ffffff;

}
.trendingd_job_head1{
    font-family: "roboto";
    font-size: 20px;
    font-weight: bold;
    color:rgb(0, 0, 0);

}
.trending_job_para1{
    font-family: "roboto";
    font-size: 18px;
    color:black;

}
.trending_job_btn1{
    background-color: #4CAF50;
    border-style: none;
    
    padding: 8px;
    border-radius: 10px;
    font-family: "roboto";
    font-weight: bold;
    color:aliceblue;
}

